.dashboard{
    background-color: black;
    min-height: 100vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .title{
      margin-bottom: 25px;
      color: white;
    }
    h1{
      color: $firstColor;
    }
    
    .session-line{
      &:hover {
        cursor: pointer;
        background-color: $secondColor;
        color: white;
        h1{
          color: $firstColor;
        }
        .to-edit{
          background-color: $firstColor;
        }
      }
      box-shadow: 0px 0px 10px 1px white;
      border-radius: 15px;
      border: solid 3px $firstColor;
      width: 80vw;
      height: 55px;
      background-color: $fourthColor;
      display: flex;
      margin: 10px 40px;
      justify-content: space-between;
      align-items: center;
      h1{
        margin-left: 15px;
        color: white;
      }
      .to-edit{
        width: 300px;
        height: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        border-radius: 10px;
        background-color: $secondColor;
      }
      .in-to-edit{
        height: 60%;
      }

      .edit-name-box{
        width: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input{
          width: 90px;
        }
        
      }
      
    }

    .create{
      color: white;
      background-color: $firstColor;
      height: 40px;
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      margin-top:20px;
      font-weight: 700;
      font-size: 20px;
      input{
        height: 30px;
        font-size: 20px;
      }
    }



    @media (max-width: 750px) {
      .session-line{
        padding: 0px 20px;
        height: 120px;
        flex-direction: column;
        justify-content: space-around;
        h1{
          display: none;
        }
        .to-edit{
          height: 40px;
        }
      }
    }

    @media (max-width: 400px){
      .session-line{
        height: 180px;
        .to-edit{
          height: 110px;
          flex-direction: column;
          margin-bottom: 15px;
        }
        .in-to-edit{
          height: 25px;
        }
      }
    }

    @media (min-width: 750px){
      .session-line{
        &:hover {
          
          height: 65px;
          margin: 0px 30px;
        }
      }
    }
    
}