.dashboard{
    background-color: $thirdColor;
    min-height: 100vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .title{
      margin-bottom: 25px;
    }
    h1{
      color: $firstColor;
    }
    
    .session-line{
      border-radius: 15px;
      border: solid 3px $firstColor;
      width: 80vw;
      height: 45px;
      background-color: $fourthColor;
      display: flex;
      margin: 30px 40px;
      justify-content: space-between;
      align-items: center;
      h1{
        margin-left: 15px;
      }
      .to-edit{
        width: 300px;
        height: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        border-radius: 10px;
        background-color: $secondColor;
      }
      .in-to-edit{
        height: 60%;
      }
      
    }

    .create{
      color: $firstColor;
      width: 70%;
      display: flex;
      justify-content: space-around;
    }



    @media (max-width: 750px) {
      .session-line{
        padding: 0px 20px;
        height: 120px;
        flex-direction: column;
        justify-content: space-around;
        h1{
          display: none;
        }
        .to-edit{
          height: 40px;
        }
      }
    }

    @media (max-width: 400px){
      .session-line{
        height: 180px;
        .to-edit{
          height: 110px;
          flex-direction: column;
          margin-bottom: 15px;
        }
        .in-to-edit{
          height: 25px;
        }
      }
    }
}