.footer{
    position: sticky;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: white;
    bottom:0;
    background-color: $sixthColor;
    height: 25px;


    
}