.landing{
  min-height: 100vh;
  position: relative;
  .top-photo{

    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    overflow: hidden;
    position: relative;
    background-color: rgba(88, 72, 82, 0.993);

    .laptop-photo{
      // width: 100%;
      // height: 100%;
      max-width: none;
      width: 1850px;
      min-width: 100%;
      opacity: .7;
      overflow: hidden;
      position: absolute;
    }

    .title {
      color: white;
      // position: absolute;
      font-size: 30px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      top: 150px;
      min-width: 250px;
      z-index: 1;
      #doing{
        margin: 0;
        opacity: 0;
      }
      div{
        color: white
      };

      #simple{
        position: relative;
        top: 130px;
        margin: 0;
        font-size: 180px;
        opacity: 0;
        color: $firstColor;
      }
    }

    
      .down-arrow{
        height: 80px;
        width: 120px;
        position: absolute;
        top: 570px;
        left:0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        opacity: .0;
      }

    

    


    @media (max-width: 970px) {
      height: 700px;
      .laptop-photo{
        width: 1580px;
      }
      .title{
        top: 190px;
        #simple{
          font-size: 100px;
        }
      }
      .down-arrow{
        top: 520px;
        height: 60px;
        width: 90px;
      }
    }

    @media (max-width: 530px) {
      height: 500px;
      .laptop-photo{
        width: 1140px;
      }
      .title{
        top: 120px;
        #doing{
          font-size: 25px;
        }
        #simple{
          font-size: 60px;
        }
      }
      .down-arrow{
        top: 390px;
        height: 40px;
        width: 60px;
      }
    }
  }



  .about{
    height: 80vh;
    width: 100vw;
    background-color: black;
    padding: 10px;
    h1{
      color: white;
      margin-top: 20px;
    }
  }
  };