.landing{
    // width: 100vw;
    background-color: rgb(179, 236, 219);
    .laptop-photo{
      width: 33vw;
    }



    @media (max-width: 500px) {
      .laptop-photo{
        width: 50px;
      }
    }
  }