.landing{
  min-height: 100vh;
  .top-photo{

    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    overflow: hidden;
    position: relative;
    background-color: rgba(61, 56, 61, 0.993);

    .laptop-photo{
      // width: 100%;
      // height: 100%;
      max-width: none;
      width: 1850px;
      min-width: 100%;
      opacity: .45;
      overflow: hidden;
    }

    .title {
      color: white;
      // position: absolute;
      font-size: 30px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      top: 230px;
      min-width: 250px;
      z-index: 1;
      #doing{
        margin: 0;
      };

      #simple{
        margin: 0;
        font-size: 220px;
      }
    }
    


    @media (max-width: 970px) {
      height: 600px;
      .laptop-photo{
        width: 1350px;
      }
      .title{
        top: 210px;
        #simple{
          font-size: 100px;
        }
      }
    }

    @media (max-width: 530px) {
      height: 300px;
      .laptop-photo{
        width: 675px;
      }
      .title{
        top: 80px;
        #simple{
          font-size: 90px;
        }
      }
    }
  }
  };