*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  position: static;
  max-width: 100%;
};

$firstColor : #5acf4a;
$secondColor : #5d5c61;
$thirdColor : #948d94;
$fourthColor: #b1a295;
$fifthColor: #7295ad;
$sixthColor: #557b94;


.App {
  text-align: center;
  background-color: $thirdColor;
  min-height: 100vh;
  width: 100%;
  // @media (max-width: 500px) {
  // };
  }

@import '../3-Header/header';
@import '../4-Landing/landing';
@import '../5-Auth/auth';
@import '../6-Dashboard/dashboard';
@import '../7-Session/session';
@import '../8-Timer/timer';
@import '../9-Footer/footer';
@import '../10-Donate/donate';