*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  position: static;
  max-width: 100%;
};

$firstColor : #fbec24;
$secondColor : #45344d;
$thirdColor : #5c5462;
$fourthColor: #9c8e8e;
$fifthColor: #9b786f;


.App {
  text-align: center;
  background-color: $thirdColor;
  min-height: 120vh;
  width: 100%;
  // @media (max-width: 500px) {
  // };
  }

@import '../3-Header/header';
@import '../4-Landing/landing';
@import '../5-Auth/auth';
@import '../6-Dashboard/dashboard';
@import '../7-Session/session';
@import '../8-Footer/footer';