*{
  margin: 0;
  box-sizing: border-box;
};

$primaryColor : gray;


.App {
  text-align: center;
  background-color: green;
}

@import '../3-Header/header';
@import '../4-Landing/landing';
@import '../5-Auth/auth';
@import '../6-Dashboard/dashboard';
@import '../7-Session/session'

