.auth{
    background-color: red;
    @media (max-width: 500px) {
      background-color: purple;
      color:green;
    }
    
    .register{
      background-color: blue;
      @media (max-width: 500px) {
        background-color: purple;
        color:green;
      }
    }
    
    .login{
      background-color: rgb(74, 88, 68);
      color:pink;
      @media (max-width: 500px) {
        background-color: orange;
        color: black;
      }
    }
  }

  